* {
    margin: 0;
    padding: 0;
    --color: ;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    transition: .5s all ease-in-out;
    font-family: 'roboto';
    font-size: 1.2rem;
    transition: .6s all ease-in-out;

}

header {
    box-shadow: 0 0 15px #000;
    display: flex;
    justify-content: space-between;
    height: 8rem;
}

h1 {
    text-shadow: 0px 0px 5px #000;
    margin-left: 3rem;
    transform: translateY(2rem);
    transition: .3s all ease-in-out;
}

h1:hover {
    transform: scale(1.1);
    margin-top: 2.2rem;
}

#sun {
    border: none;
    background-color: transparent;
    transform: scale(2.5);
    margin-right: 5rem;
    cursor: pointer;
}

.add {
    text-align: center;
    margin: 2rem auto;
}

.add button {
    padding: 0.7rem;
    width: 13rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 5px #000;
}
 
.modal {
    display: none;
    width: 320px;
    margin: 2rem auto;
    padding: 1rem 0;
    color: #000;
    background: #f7f5f5;
    font-weight: bold;
    box-shadow: 1px 1px 20px #000;
    opacity: 0;
    transition: .7s all ease-in;
}

.modal input {
    padding: .7em .4rem;
    margin: 1rem 0;
    border: none;
    border-radius: .2rem;
    width: 85%;
    font-size: 1.1rem;
}

.foot-modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: -1rem;
    margin: .4rem .3rem;
}

#check {
    height: 1rem;
}

#public {
    width: 14rem;
    padding: .6rem;
    margin: 1rem 0;
    background-color: rgb(49, 229, 67);
    cursor: pointer;
}

.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.shelf {
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 15rem;
    height: 12rem;
    background: #f7f5f5;
    padding: 2rem 0.7rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000;
}

#toogleRead {
    border: none; 
    border-radius: .7rem;
    padding: .5rem; 
    width: 80%;
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
}

#delBtn {
    border: none; 
    border-radius: .7rem;
    background-color: #c60000;
    padding: 0.5rem;
    width: 80%;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}